.page-header
  %h2 Domains

.container
  - if @domains.count == 0
    %p.alert.alert-warning
      No domain found.
  - else
    %table.table.table-striped.table-hover.table-wb
      %tr
        %th Name
        %th Description
        %th
      - @domains.each do |domain|
        %tr{ class: cycle('odd', 'even') }
          %td
            = domain.name
          %td
            = domain.description
          %td
            = link_to edit_domain_path(domain), class: 'btn btn-link btn-xs' do
              .glyphicon.glyphicon-pencil
            = link_to domain_path(domain), method: :delete, data: { confirm: 'You are about to delete a domain and all related mailboxes and forwarders. Are you sure?' }, class: 'btn btn-link btn-xs' do
              .glyphicon.glyphicon-trash
